header {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #222222bb;
}

.logo {
    float: left;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.logoImg {
    width: 120px;
    height: 40px;
}

.navigation {
    float: right;
    display: flex;
    align-items: center;
}

.navItem {
    display: inline;
    margin-right: 10px;
}

.navItem a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    border-width: 0;
}

.navItem a:hover {
    color: #4682B4;
}

.navItem.active a {
    color: #333;
    background-color: whitesmoke;
}

.linije {
    display: none;
}

@media screen and (max-width: 700px) {
    header {
        flex-direction: column;
        transition-duration: 200ms;
    }

    .navigation {
        display: none;
        flex-direction: column;
    }

    .linije {
        display: block;
        width: 50px;
        height: 50px;
    }

    .logo {
        width: 100%;
    }
}