.container {
    background-image: url("../img/SushiBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    animation-fill-mode: forwards;
    animation-name: bgTint;
    animation-duration: 2s;
    flex: 1;
}

@keyframes bgTint {
    from {
        background-color: transparent;
    }

    to {
        background-color: #0000009e;
    }
}


.content {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.animated {
    animation-name: textMove;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 300px;
}

.animated a {
    position: relative;
    padding: 10px 20px;
    color: whitesmoke;
    border-radius: 20px;
    font-size: 30px;
    text-decoration: none;
    border: whitesmoke solid 2px;
    margin-top: 70px;
    transition-duration: 500ms;
}

.animated a:hover {
    color: #333;
    background-color: whitesmoke;
    transition-duration: 500ms;
}

@keyframes textMove {
    from {
        bottom: 70px;
    }

    to {
        bottom: 200px;
    }
}

header {
    background-color: transparent !important;
}